{
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env"
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        "@babel/preset-env",
        "minify"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
