{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": "3",
            "useBuiltIns": "usage"
          }
        ]
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": "3",
            "useBuiltIns": "usage"
          }
        ],
        "minify"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
